@charset "UTF-8";

::-webkit-scrollbar { 
    display: none;
}
html{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    overflow: hidden;
    background-image: url('../../../../assets/base.png');
    background-repeat: repeat;
    background-position: left top; 
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
}

#top-titlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 10%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
#left-titlebar {
    position: absolute;
    left: 0px;
    top: 10%;
    width: 10%;
    height: 90%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
